<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Emet_Forms.Properties.Settings.emetConnectionString"
            connectionString="server=localhost;user id=ikutiel;password=B7654321b;persistsecurityinfo=True;database=emet"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>